<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Cau5_LeTranNhatDuy_13110024.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B79ED9F01F0CD45C00CDFC4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B79EDA071F0CD45D00CDFC4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B79EDA121F0CD45D00CDFC4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
